.assignStaff{
  margin: .25em;
}

h2{
  line-height: 2.5;
}

h3{
  margin: 1em 0 0 .25em;
}

hr {
  border: 1px solid black;
  margin: .5em;
}

#displayCalendar, #displayOpenShifts{
  height: 2.5em;
  margin-top: 1.25em;
}