.navbar {
  padding: 0;
  background: #757575;
  box-shadow: 5px 5px 10px #212121;
  margin-bottom: 10px;

  #logoImg {
    height: 60px;
    margin-left: 4px;
  }
}

#logInButton {
  margin-right: 10px;
  img {
    height: 30px;
  }
}
