body {
  background-color: white;
}
#home-page {
  margin: 100px 0 0 0;
  flex-flow: row wrap;
}

.single-card {
  min-width: 200px;
  max-width: 400px;
  box-sizing: border-box;
}
.homepage-card-title {
  text-transform: uppercase;
}
.crop-image {
  width: 400px;
  height: 260px;
}

.homepage-image {
  overflow: hidden;
  width: auto;
  height: 100%;
  text-align: center;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
 }