.toast {
  position: absolute; 
  top: 50%; 
  right: 50%;
  z-index: -1;

  .toast-body {
    height: 100px;
    margin: 10px;
  }

  #chaosMonkeyData {
    img {
      width: 25%;
      position: absolute;
      bottom: 25px;
      right: 5px;
    }
  }
}